<%- include('layout') %>
<%- include('partials/nav') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subjects Management</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  <style>
    .fixed-size-btn {
      width: 80px;
      height: 35px;
    }
    .modal-dialog {
      max-width: 800px;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
  
    <!-- Add subject Button -->
    <a href="/subjects/form" class="btn btn-primary mb-3"><i class="fas fa-plus"></i> Add subject</a>

    <!-- Display subjects -->
    <% if (locals.subjects) { %>
   
      <h2 class="mb-4">Subject List</h2>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Tutor Name</th>
            <th>Subject</th>
           
            <th>Subject Department</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% subjects.forEach(subject => { %>
            <tr>
            <td><b><%= subject.full_name %></b></td>
            <td><b>
               <%= subject.title %>(<%= subject.subject_code %>)
            <br>
            Subject Credit : <%= subject.credit %>
              <br>
             Total_hours_per_week : <%= subject.total_hours_per_week %> <br>
             Type : <%= subject.type_prac_or_theory %>
            </b>
            </td>
              <td><%= subject.subject_department %></td>
              <td>
                <!-- Edit Button -->
                <button type="button" class="btn btn-warning btn-sm fixed-size-btn" data-toggle="modal" data-target="#updateModal<%= subject.subject_id %>">
                  Edit
                </button>
                <!-- Delete Button -->
                <a href="/subjects/delete/<%= subject.subject_id %>" class="btn btn-danger btn-sm fixed-size-btn" onclick="return confirm('Are you sure you want to delete this subject?');">
                  Delete
                </a>
              </td>
            </tr>
            <!-- Update Modal -->
            <div class="modal fade" id="updateModal<%= subject.subject_id %>" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel<%= subject.subject_id %>" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel<%= subject.subject_id %>">Update subject</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/subjects/edit/<%= subject.subject_id %>" method="post">
                 
        <div class="form-group">
          <label for="user_name">USER NAME:</label>
          <select id="user_id" name="user_id" class="form-control select2" required>
            <% users.forEach(user => { %>
              <option value="<%= user.user_id %>"><%= user.full_name %></option>
            <% }); %>
          </select>
        </div>
           

                      <div class="form-group">
                        <label for="title">Subject Name:</label>
                        <input type="text" id="title" name="title" class="form-control" value="<%= subject.title %>" required>
                      </div>

                      
                      <div class="form-group">
                        <label for="subject_code">subject_code:</label>
                        <input type="text" id="subject_code" name="subject_code" class="form-control" value="<%= subject.subject_code %>" required>
                      </div>
                  
                      <div class="form-group">
                        <label for="credit">Subject Credit:</label>
                        <input type="number" id="credit" name="credit" class="form-control" value="<%= subject.credit %>" required>
                      </div>

                      <div class="form-group">
                        <label for="total_hours_per_week">total_hours_per_week:</label>
                        <input type="number" id="total_hours_per_week" name="total_hours_per_week" class="form-control"  value="<%= subject.total_hours_per_week %>" required>
                      </div>
                    
                      <div class="form-group">
                        <label for="program_id">program:</label>
                        <select id="program_id" name="program_id" class="form-control select2" required>
                          <% programs.forEach(program => { %>
                            <option value="<%= program.program_id %>"><%= program.program_name %>(CODE:<%= program.program_code %>, LEVEL <%= program.level %>) </option>
                          <% }); %>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="subject_department">subject_department:</label>
                        <select id="subject_department" name="subject_department" class="form-control select2" required>
                          <% departments.forEach(department => { %>
                            <option value="<%= department.department_name %>"><%= department.department_name %> </option>
                          <% }); %>
                        </select>
                      </div>
              

                      <div class="form-group">
                        <label for="type_prac_or_theory">Subject Type:</label>
                        <select id="type_prac_or_theory" name="type_prac_or_theory" class="form-control select2">
                         <option value="<%= subject.type_prac_or_theory %>"><%= subject.type_prac_or_theory %></option>
                          <option value="Theory">Theory</option>
                          <option value="Lab">Lab</option>
                        </select>
                      </div>
                    
                      <button type="submit" class="btn btn-success">Submit Changes</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          <% });  %>
        </tbody>
      </table>

    <% }  else { %>
      <!-- Display Add subject Form -->
      <h2 class="mb-4">Add subject</h2>
      <form action="/subjects" method="post">

        <div class="form-group">
          <label for="user_name">USER NAME:</label>
          <select id="user_id" name="user_id" class="form-control select2" required>
            <% users.forEach(user => { %>
              <option value="<%= user.user_id %>"><%= user.full_name %></option>
            <% }); %>
          </select>
        </div>

      
        <div class="form-group">
          <label for="title">subject_name:</label>
          <select id="title" name="title" class="form-control select2 " required>
          <% registered_subjects.forEach(registered_subject => { %>
            <option value="<%= registered_subject.registered_subject_name %>"><mark><%= registered_subject.registered_subject_name %> </mark>(code: <%= registered_subject.registered_subject_code %>, Department: <%= registered_subject.registered_subject_department %>, credit: <%= registered_subject.credit %>, total_hours_per_week: <%= registered_subject.total_hours_per_week %>)</option>
            <% }); %>
          </select>
        </div>

        <div class="form-group">
          <label for="subject_code">select subject_code:</label>
          <select id="subject_code" name="subject_code" class="form-control select2" required>
          <% registered_subjects.forEach(registered_subject => { %>
            <option value="<%= registered_subject.registered_subject_code %>"><mark>code: <%= registered_subject.registered_subject_code %></mark> For (<%= registered_subject.registered_subject_name %>)</option>
            <% }); %>V
          </select>
        </div>


        <div class="form-group">
          <label for="credit">Subject Credit:</label>
          <input type="number" id="credit" name="credit" class="form-control">
        </div>

        <div class="form-group">
          <label for="total_hours_per_week">total_hours_per_week:</label>
          <input type="number" id="total_hours_per_week" name="total_hours_per_week" class="form-control" >
        </div>

        <div class="form-group">
          <label for="program_id">program:</label>
          <select id="program_id" name="program_id" class="form-control select2" required>
            <% programs.forEach(program => { %>
              <option value="<%= program.program_id %>"><%= program.program_name %>(CODE:<%= program.program_code %>, LEVEL <%= program.level %>) </option>
            <% }); %>
          </select>
        </div>


        <div class="form-group">
          <label for="subject_department">subject_department:</label>
          <select id="subject_department" name="subject_department" class="form-control select2" required>
            <% departments.forEach(department => { %>
              <option value="<%= department.department_name %>"><%= department.department_name %> </option>
            <% }); %>
          </select>
        </div>


        <div class="form-group">
          <label for="type_prac_or_theory">Subject Type:</label>
          <select id="type_prac_or_theory" name="type_prac_or_theory" class="form-control select2">
            <option value="Theory">Theory</option>
            <option value="Lab">Lab</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Add subject</button>
      </form>

    <% } %>
  </div>

  <!-- Include necessary scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    $(document).ready(function() {
      // Initialize Select2 on all select elements with class 'select2'
      $('.select2').select2();
    });
  </script>
</body>
</html>
